<div class="details-template" ng-init="row.actions.tab = row.actions.tab || 2">
	<ul>
		<li ng-class="{active:row.actions.tab===1}">
			<label ng-click="row.actions.tab = 1">Overview</label>
		</li>
		<li ng-class="{active:row.actions.tab===2}">
			<label ng-click="row.actions.tab = 2">Details Information</label>
		</li>
	</ul>
	<div class="content">
		<div class="overview" ng-show="row.actions.tab === 1">
			<div class="headers">
				<span class="header-row">Overview:</span>

			</div>
			<div class="props">
				<span>  Campaign, Refer</span>
			</div>
		</div>
		<div class="details-information" ng-show="row.actions.tab === 2">
			<div class="headers">
				<span class="header-row">Attributes:</span>
				<span class="header-row">Created:</span>
				<span class="header-row">Last Modified:</span>
			</div>
			<div class="props">
				<span>  Campaign, Refer</span>
				<span>  Demo User, 2015-03-03</span>
				<span>  Victoria Rabinovich, 2015-03-03</span>
			</div>
		</div>
	</div>
</div>
