<div class="column" ng-style="{'cursor': col.cursor}" ng-class="{ 'ngSorted': !noSortVisible }" ng-class="{ 'ngSorted': !noSortVisible }">
	<div class="column__sort" ng-click="col.sort($event)" ng-style="{'height': col.headerRowHeight}">
		<div class="column__name" ng-style="{'height': col.headerRowHeight}">
			{{col.displayName}}
			<div class="column__sort-down" ng-show="col.showSortButtonDown()">
				<img />
			</div>
			<div class="column__sort-up" ng-show="col.showSortButtonUp()">
				<img />
			</div>
		</div>
	</div>
</div>
