.actions {
	@extend .btn;
	@extend .btn-default;
	@extend .dropdown-toggle;
}

.actions-menu {
	@extend .dropdown-menu;
}

.actions-group {
	position: absolute;
	display: inline;
	right: 0;

	&__dropdown {
		@extend .dropdown;
	}
}
