.toggle {
	.ngRow {
		display: table-row;
		height: auto !important;
		position: static;
	}

	.ngCell {
		display: table-cell;
		height: auto !important;
		overflow: visible;
		position: static;
	}
}
