dev/node_modules
dev/src/vendor
publish/publish/src/vendor
dev/.settings
publish/packages
publish/.vs
publish/bin
publish/obj
dev/bin
dev/obj
/publish/publish/obj
/publish/publish/bin
/publish/publish/publish.csproj
/publish/publish/publish.csproj.user
*.settings
*.njsproj
/publish/UpgradeLog2.htm
/publish/UpgradeLog.htm
/publish/publish/Properties/PublishProfiles
*.csproj
/dev/typings
