dev/node_modules
dev/src/vendor
dev/.settings
publish/packages
publish/.vs
publish/bin
publish/obj
/publish/publish/obj
/publish/publish/bin
/publish/publish/publish.csproj
/publish/publish/publish.csproj.user
