<div class="navigation">
	<div class="link-container">
		<a class="download-app" target="_self" href="/app/custom-grid.js" download="custom-grid.js">Download app js</a>
		<hr />
		<a class="download-app-min" target="_self" href="/app/custom-grid.min.js" download="custom-grid.min.js">Download min app js</a>
		<hr />
		<a class="download-style" target="_self" href="/css/styles.css" download="styles.css">Download styles</a>
		<hr />
		<a class="download-style-min" target="_self" href="/css/styles.min.css" download="styles.min.css">Download min styles</a>
		<hr />
		<a class="download-style-min" target="_self" href="/sources/sources.zip" download="sources.zip">Download as archive</a>
		<hr />
		<a class="download-style-min" target="_self" href="/data/json.zip" download="json.zip">Download json files</a>
		<hr />
		<div class="link-container__update">Last update on Mon, 27 Jul 2015 17:56:41 GMT</div>
	</div>
	<button class="metro-btn" onclick="location.href = '/navigation'">Back</button>
</div>
