<div class="column" ng-style="{'cursor': col.cursor}" ng-class="{ 'ngSorted': !noSortVisible }" ng-class="{ 'ngSorted': !noSortVisible }">
	<div class="column__sort" ng-click="col.sort($event)" ng-style="{'height': col.headerRowHeight}">
		<div class="column__name" ng-style="{'height': col.headerRowHeight}">
			<span class="column__name__span">{{col.displayName | translate}}</span>
			<div class="column__sort-down" ng-show="col.showSortButtonDown()">
				<span class="icon-arrow-down"></span>
			</div>
			<div class="column__sort-up" ng-show="col.showSortButtonUp()">
				<span class="icon-arrow-up"></span>
			</div>
		</div>
	</div>
</div>
