.custom-grid {
	@extend .panel;
	@extend .panel-default;

	&__header {
		@extend .panel-heading;
	}

	&__name {
		display: inline;
	}

	&__count {
		display: inline;
	}

	&__body {
		@extend .panel-body;
		padding: 0;
		height: 500px;
		border: 1px solid rgb(212,212,212);

		.ngHeaderText {
			text-align: center;
		}

		.ngVerticalBar {
			width: 0px;
		}

		.ngViewport {
			overflow-x: hidden;
		}

		.ngCell {
		}

		.ngRow {
		}
	}

	&__footer {
		@extend .panel-footer;
	}
}
