<div class="debug">
	<div class="debug__back">
		<button class="debug__back__btn" onclick="location.href = '/'">{{::'back' | translate}}</button>
	</div>
	<div class="debug__uploader">
		<upload class="debug__uploader__btn" upload-callback="contentOptions.uploadCards" label="'Upload Cards'"></upload>
		<upload class="debug__uploader__btn" upload-callback="contentOptions.uploadSankey" label="'Upload Sankey'"></upload>
		<upload class="debug__uploader__btn" upload-callback="contentOptions.uploadHistogram" label="'Upload Histogram'"></upload>
	</div>
</div>
