.options {
	padding-top: 10px;
	padding-bottom: 7px;
	margin-left: 25px;
	padding-right: 10px;

	&__check {
		margin-right: 10px;
		position: relative;
	}

	&__refresh {
		@extend .metro-btn;
		margin-right: 10px;
		position: relative;
	}

	&__more {
		position: relative;
	}

	&__search {
		float: right;

		.search {
			@extend .my-search;
		}
	}

	&__show {
		float: right;
		right: 143px;
		position: relative;
		text-transform: capitalize;
	}
}
