history {
	.history__content {
		text-align: left;
		font-size: $default-font-size;
	}

	.dialog {
		height: auto;

		&__entity {
			text-align: left !important;
		}

		&__key {
			margin-right: 0 !important;
		}

		&__value {
			margin-left: 10px !important;
			float: none !important;
		}
	}
}
