.options {
	padding: 1% 1%;

	&__check {
	}

	&__refresh {
		@extend .metro-btn;
	}

	&__more {
	}

	&__search {
		@extend .pull-right;
		/*input {
			background: none repeat scroll 0 0 #fff;
			border: 0 none;
			color: #7F7F7F;
			float: left;
			font: 12px 'Helvetica','Lucida Sans Unicode','Lucida Grande',sans-serif;
			height: auto;
			margin: 0;
			padding: 10px;
			transition: background 0.3s ease-in-out 0s;
			width: 300px;
		}

		button {
			background: url("/css/common/search.png");
			cursor: pointer;
			height: 30px;
			text-indent: -99999em;
			transition: background 0.3s ease-in-out 0s;
			width: 40px;
			border: 2px solid #fff;
		}*/
	}

	&__show {
		@extend .pull-right;
		padding-right: 1%;
	}
}
