.toggle {

	.ngRow {
		display: table-row;
		height: auto !important;
		position: static;
	}

	.ngCell {
		overflow: hidden;
		position: absolute;
		top: 0;
		bottom: 0;
		background-color: inherit;
		display: table-cell;
		height: auto !important;
		overflow: visible;
		/*position: static;*/
	}

	.wrap {
		white-space: normal;
		text-overflow: clip;
		overflow: auto;
	}
}
