<div class="page-content">
	<div class="page-content__header">
		<div class="page-content__options">
			<content-options-cards options="contentOptions"></content-options-cards>
		</div>
		<div class="page-content__actions">
			<div class="page-content__actions__export" dropdown="exports.options"></div>
		</div>
	</div>
	<div class="page-content__body">
		<div class="page-content__cards" content-options="contentOptions" cards="cardsOptions">
		</div>
		<div class="page-content__list">
			<div custom-ui-grid grid-data="data" grid-options="uiGridOptions" content-options="contentOptions"></div>
		</div>
	</div>
	<div class="page-content__footer">
	</div>
</div>

