<div class="options">
	<!--<div class="options__block">
		<div ext-datepicker="vm.options.datepickerOptions"></div>
	</div>-->
	<div class="options__filter">
		<!--<ext-split-button class="options__show" actions="vm.options.searchOptions" selected="options.show" search="vm.options.searchValue"></ext-split-button>-->
		<!--<ext-search class="options__search" search-value="vm.options.searchValue"></ext-search>-->
		<!--<div class="options__filt" ext-filter="vm.options.filterOptions" on-filtrate="vm.options.filtrate"></div>-->
	</div>
</div>
