<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title></title>
	<script src="bower_components/jquery/dist/jquery.min.js"></script>
	<script src="bower_components/angular/angular.min.js"></script>
	<script src="bower_components/ng-grid/build/ng-grid.js"></script>
	<script src="bower_components/zeroclipboard/dist/ZeroClipboard.min.js"></script>
	<script src="app/custom-grid.js"></script>

	<script src="app/grid-testing-controller.js"></script>
	<link href="bower_components/ng-grid/ng-grid.min.css" rel="stylesheet" />
	<link href="css/styles.css" rel="stylesheet" />
</head>
<body ng-app="gridTaskApp" ng-controller="gridTestingCtrl as ctrl" class="grid-testing">
	<button class="metro-btn" onclick="location.href = '/index.html'">Back</button>
	<textarea class="my-textarea" ng-model="ctrl.scope.content" ng-change="ctrl.scope.textChange()" hotkey-formatter="ctrl.scope.refreshContent"></textarea>
	<div class="validators-group">
		<label class="success" ng-show="ctrl.scope.isValid">Valid data</label>
		<label class="failed" ng-show="!ctrl.scope.isValid">Invalid data</label>
	</div>
	<button class="generate-btn" ng-click="compile()">Compile</button>
	<page-content grid-data="ctrl.scope.data" content-options="ctrl.scope.contentOptions" grid="ctrl.scope.grid" grid-options="ctrl.scope.gridOptions"></page-content>
</body>
</html>
