$white: white;
$white-grey: rgb(242,242,242);
$dark-grey: #787878;
$light-blue: rgb(214,235,246);
$dark-blue: #23527c;
$ocean: rgb(76,143,178);
$grey: rgb(175,185,189);
$red: red;
$blue-grey: rgb(202,221,238);
$black: #333;
$light-white: #fff;
$blue: #337ab7;
$light-blue: #59cde2;
$green: rgb(83, 133, 84);
$light-green: #60a917;
$kx-blue: #0A2841;
$ui-grey: #5a5a5a;
$ui-light-grey: #a8a8a8;

$scroll-thumb: #ccc;
$scroll-thumb-hover: #aaa;
$scroll-track: #eaeaea;
