@mixin select2-container {
	.select2-container .select2-choice {
		height: 35px;
	}

	.select2-container .select2-choice > .select2-chosen {
		margin-top: 3px;
		font-size: $default-font-size;
	}

	.select2-container .select2-choice .select2-arrow b {
		margin-top: 3px;
	}

	.select2-container-multi .select2-search-choice-close {
		margin-top: -1px;
	}

	.select2-container-multi .select2-choices .select2-search-field input {
		height: 32px;
	}

	.select2-container-multi .select2-choices .select2-search-choice {
		margin-top: 6px;
	}
}
