<div class="cell-details">
	<span class="cell-details__expand" details row="row" details-class="'toggle'" ng-class="{'glyphicon glyphicon-menu-down' : !row.orig.actions.isToggle, 'glyphicon glyphicon-menu-up': row.orig.actions.isToggle}"></span>
	<div class="cell-details__check">
		<label class="cell-details__input">
			<input type="checkbox" ng-model="row.orig.actions.isCheck" ng-change="row.orig.actions.setCheck(row.orig)" />
			<span class="cell-details__input__check"></span>
		</label>
	</div>
</div>
