body {
	font-family: $helvetica-family;
	font-size: $default-font-size - 2px;
	line-height: $default-line-height;
	color: $black;
	background-color: $light-white;
	margin: 0;
}

div {
	display: block;
}

ul {
	list-style: none;
}

img {
	vertical-align: middle;
	border: 0;
}


input, textarea, keygen, select, button {
	margin: 0;
	font: normal normal normal 13.3333330154419px/normal Arial;
	text-rendering: auto;
	color: initial;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	text-indent: 0;
	text-shadow: none;
	display: inline-block;
	text-align: start;
}

button {
	overflow: visible;
}

label {
	display: inline-block;
	max-width: 100%;
	margin-bottom: 5px;
	font-weight: 700;
}

button, html input[type=button], input[type=reset], input[type=submit] {
	-webkit-appearance: button;
	cursor: pointer;
}

hr {
	border: 0;
	height: 0;
	border-top: $small-black-border;
	border-bottom: $small-grey-border;
}

a {
	color: $blue;
	text-decoration: none;

	&:focus {
		outline: thin dotted;
		outline: 5px auto -webkit-focus-ring-color;
		outline-offset: -2px;
		color: $dark-blue;
		text-decoration: underline;
	}

	&:hover {
		color: $dark-blue;
		text-decoration: underline;
	}
}

button::-moz-focus-inner {
	border: 0;
}

::-webkit-scrollbar {
	width: 12px;
	z-index: 100000000;
}

::-webkit-scrollbar-track {
	background-color: $scroll-track;
	border-left: 1px solid $scroll-thumb;
}

::-webkit-scrollbar-thumb {
	background-color: $scroll-thumb;
}

::-webkit-scrollbar-thumb:hover {
	background-color: $scroll-thumb-hover;
}
