.cell-details {

	&__expand {
		@extend .expand;
		float: left;
		margin-left: 10px;
		font-size: 20px;
		font-weight: bold;
	}

	&__check {
		@extend .metro-checkbox;
		padding-top: 3px;
	}

	&__input {
		@extend .input-control;
		@extend .checkbox;

		&__check {
			@extend .check;
		}
	}
}
