<div class="cards-group">
	<div class="my-card" id="debug" ng-if="contentOptions.enableDebugging">
		<div class="front">
			<div class="my-card__header">
				<span class="my-card__header__icon card-font icon-info"></span>
				<span class="my-card__header__text">Debug</span>
			</div>
			<div class="my-card__body">
				<span></span>
			</div>
		</div>
		<div class="back">
			<div class="my-card__header">
				<span class="my-card__header__icon card-font icon-circle-left"></span>
				<span class="my-card__header__text">Debug</span>
			</div>
			<div class="my-card__body">
				<div class="my-card__body__back">
					<button class="metro-btn" onclick="location.href = '/navigation'">Back</button>
				</div>
				<div class="my-card__body__uploader">
					<upload class="options__upload" upload-callback="contentOptions.uploadCards" label="'Upload Cards'"></upload>
					<upload class="options__upload" upload-callback="contentOptions.uploadSankey" label="'Upload Sankey'"></upload>
					<upload class="options__upload" upload-callback="contentOptions.uploadHistogram" label="'Upload Histogram'"></upload>
				</div>
			</div>
		</div>
	</div>
	<div class="my-card" ng-repeat="(id, card) in cards" id="{{id}}">
		<div class="front">
			<div class="my-card__header">
				<span class="my-card__header__icon card-font icon-info"></span>
				<span class="my-card__header__text">{{card.label}}</span>
			</div>
			<div ng-if="card.counter">
				<div class="my-card__body" ng-init="card.count = card.counter.calculate(startDate, endDate) || card.count">
					<span number-format="card.count"></span>
				</div>
			</div>
		</div>
		<div class="back">
			<div class="my-card__header">
				<span class="my-card__header__icon card-font icon-circle-left"></span>
				<span class="my-card__header__text">{{card.label}}</span>
			</div>
			<div class="my-card__body">
				<div class="my-card__body__graphs" graphs="card.graphs"></div>
			</div>
		</div>
	</div>
</div>

<!--<div class="cards-group">
	<div class="my-card" id="card1">
		<div class="front">
			<div class="my-card__header">
				<span class="my-card__header__icon card-font icon-info"></span>
				<span class="my-card__header__text">Views/Impressions</span>
			</div>
			<div class="my-card__body" ng-init="cards.views.count = cards.views.counter.calculate(startDate, endDate)">
				<span number-format="cards.views.count"></span>
			</div>
		</div>
		<div class="back">
			<div class="my-card__header">
				<span class="my-card__header__icon card-font icon-circle-left"></span>
				<span class="my-card__header__text">Views/Impressions</span>
			</div>
			<div class="my-card__body">
				<div class="my-card__body__graphs" graphs="cards.views.graphs"></div>
			</div>
		</div>
	</div>
	<div class="my-card" id="card2" style="left:270px">
		<div class="front">
			<div class="my-card__header">
				<span class="my-card__header__icon card-font icon-info"></span>
				<span class="my-card__header__text">Clicks</span>
			</div>
			<div class="my-card__body" ng-init="cards.views.count = cards.views.counter.calculate(startDate, endDate)">
				<span number-format="cards.clicks.count"></span>
			</div>
		</div>
		<div class="back">
			<div class="my-card__header">
				<span class="my-card__header__icon card-font icon-circle-left"></span>
				<span class="my-card__header__text">Clicks</span>
			</div>
			<div class="my-card__body">
				<div class="my-card__body__graphs" graphs="cards.clicks.graphs"></div>
			</div>
		</div>
	</div>
	<div class="my-card" id="card3" style="left:540px">
		<div class="front">
			<div class="my-card__header">
				<span class="my-card__header__icon card-font icon-info"></span>
				<span class="my-card__header__text">Conversion</span>
			</div>
			<div class="my-card__body" ng-init="cards.conversion.count = cards.conversion.counter.calculate(startDate, endDate)">
				<span number-format="cards.conversion.count"></span>
			</div>
		</div>
		<div class="back">
			<div class="my-card__header">
				<span class="my-card__header__icon card-font icon-circle-left"></span>
				<span class="my-card__header__text">Conversion</span>
			</div>
			<div class="my-card__body">
				<div class="my-card__body__graphs" graphs="cards.conversion.graphs"></div>
			</div>
		</div>
	</div>
	<div class="my-card" id="card4" style="left:810px">
		<div class="front">
			<div class="my-card__header">
				<span class="my-card__header__icon card-font icon-info"></span>
				<span class="my-card__header__text">Spend</span>
			</div>
			<div class="my-card__body" ng-init="cards.spend.count = cards.spend.counter.calculate(startDate, endDate)">
				<span number-format="cards.spend.count"></span>
			</div>
		</div>
		<div class="back">
			<div class="my-card__header">
				<span class="my-card__header__icon card-font icon-circle-left"></span>
				<span class="my-card__header__text">Spend</span>
			</div>
			<div class="my-card__body">
				<div class="my-card__body__graphs" graphs="cards.spend.graphs"></div>
			</div>
		</div>
	</div>
	<div class="my-card" id="card5" style="left:1080px">
		<div class="front">
			<div class="my-card__header">
				<span class="my-card__header__icon card-font icon-info"></span>
				<span class="my-card__header__text">Actions</span>
			</div>
			<div class="my-card__body" ng-init="cards.actions.count = cards.actions.counter.calculate(startDate, endDate)">
				<span number-format="cards.actions.count"></span>
			</div>
		</div>
		<div class="back">
			<div class="my-card__header">
				<span class="my-card__header__icon card-font icon-circle-left"></span>
				<span class="my-card__header__text">Actions</span>
			</div>
			<div class="my-card__body">
				<div class="my-card__body__graphs" graphs="cards.actions.graphs"></div>
			</div>
		</div>
	</div>
	<div class="my-card" id="card6" style="left:1350px">
		<div class="front">
			<div class="my-card__header">
				<span class="my-card__header__icon card-font icon-info"></span>
				<span class="my-card__header__text">Time</span>
			</div>
			<div class="my-card__body" ng-init="cards.time.count = cards.time.counter.calculate(startDate, endDate)">
				<span number-format="cards.time.count"></span>
			</div>
		</div>
		<div class="back">
			<div class="my-card__header">
				<span class="my-card__header__icon card-font icon-circle-left"></span>
				<span class="my-card__header__text">Time</span>
			</div>
			<div class="my-card__body">
				<div class="my-card__body__graphs" graphs="cards.time.graphs"></div>
			</div>
		</div>
	</div>
	<div class="my-card" id="card7" style="left:1620px">
		<div class="front">
			<div class="my-card__header">
				<span class="my-card__header__icon card-font icon-info"></span>
				<span class="my-card__header__text">Date</span>
			</div>
			<div class="my-card__body" ng-init="cards.date.count = cards.date.counter.calculate(startDate, endDate)">
				<span number-format="cards.date.count"></span>
			</div>
		</div>
		<div class="back">
			<div class="my-card__header">
				<span class="my-card__header__icon card-font icon-circle-left"></span>
				<span class="my-card__header__text">Date</span>
			</div>
			<div class="my-card__body">
				<div class="my-card__body__graphs" graphs="cards.date.graphs"></div>
			</div>
		</div>
	</div>
</div>-->
