<div class="checkbox-select" any-other-click="isShow=false">
	<div class="checkbox-select__check">
		<label class="checkbox-select__input-control">
			<input type="checkbox" ng-model="options.selected.check" ng-change="checked(options.selected.check)" />
			<span class="checkbox-select__input-control__span" ng-class="{'marked':options.selected.isMarked || options.selected.isNotMarked}"></span>
		</label>
	</div>
	<button type="button" class="checkbox-select__btn" ng-class="{'opened' : isShow}" ng-click="toggle()">
		<span class="checkbox-select__expand" ng-class="{'icon-menu-down': !isShow, 'icon-menu-up': isShow}"></span>
	</button>

	<ul class="checkbox-select__list" ng-show="isShow">
		<li ng-repeat="action in options.actions" ng-click="select(action)"><a>{{action.label | translate}}</a></li>
	</ul>
</div>

