<div class="options">
	<div class="options__block">
		<div class="input-prepend">
			<div kx-date-range="kx-date-range" time-range="past" name="dateRange" ng-model="filters.dateRange" ng-disabled="loading" ng-change="filters.onDateRangeChange()" class="date-range-picker"></div>
		</div>
	</div>
	<div class="options__select">
		<select class="options__event" ui-select2="options.eventType.selectOpt" ng-model="options.eventOpt.options.selected" data-placeholder="Choose Event" ng-required="true">
			<option value=""></option>
			<option value="{{action}}" ng-repeat="action in options.eventType.options.actions">{{action.label}}</option>
		</select>
		<select class="options__segments kx-multiselect" kx-multiselect="options.segments.selectOpt" ng-change="options.segments.options.onChange()" ng-model="options.segments.options.selected" multiple="true" data-placeholder="Choose Segments">
			<!--<option value=""></option>-->
			<option value="{{action}}" ng-repeat="action in options.segments.options.actions">{{action.label}}</option>
		</select>
		<select class="options__campaign kx-multiselect" kx-multiselect="options.campaign.selectOpt" ng-change="options.campaign.options.onChange()" ng-model="options.campaign.options.selected" data-placeholder="Choose Campaigns" multiple="true">
			<!--<option value=""></option>-->
			<option value="{{action}}" ng-repeat="action in options.campaign.options.actions">{{action.label}}</option>
		</select>
	</div>
	<button class="kx-btn" ng-click="options.refresh()">Update</button>
</div>
