<div class="options">
	<div class="options__block">
		<custom-datepicker></custom-datepicker>
	</div>
	<div class="options__filter">
		<split-button class="options__event" actions="eventType.options" selected="eventOpt.selected" typehead="'Choose event type'"></split-button>
		<split-button class="options__segments" actions="aiSegments.options" selected="segOpt.selected" typehead="'All Segments'"></split-button>
		<split-button class="options__campaign" actions="aiCampaign.options" selected="camp.selected" typehead="'All Campaigns'"></split-button>
	</div>
</div>
