<div class="my-dropdown">
	<button type="button" class="my-dropdown__btn" ng-show="!options.isMenu">
		<span class="my-dropdown__text">{{options.label}}{{options.selected.label}}</span>
		<span class="my-dropdown__expand"></span>
	</button>
	<button type="button" class="my-dropdown__btn" ng-show="options.isMenu">
		<span class="my-dropdown__text">{{options.label}}</span>
		<span class="my-dropdown__expand"></span>
	</button>

	<ul class="my-dropdown__list">
		<li ng-repeat="action in options.values">
			<div ng-if="options.isCheckbox">
				<div class="my-dropdown__list__check">
					<label class="my-dropdown__list__input-control">
						<input type="checkbox" ng-model="action.isVisible" ng-change="options.onCheck(action, $index)" id="{{action.label}}">
						<span class="my-dropdown__list__input-control__span"></span>
					</label>
				</div>
				<label class="my-dropdown__list__label" for="{{action.label}}">{{action.label}}</label>
			</div>
			<a ng-click="select(action)" ng-if="!options.isCheckbox">{{action.label}}</a>
		</li>
		<button ng-if="options.withSave" ng-click="options.onSave()" class="my-dropdown__save">Save</button>
	</ul>
</div>
