<div class="my-dropdown" any-other-click="isShow=false">
	<button type="button" class="my-dropdown__btn" ng-show="!options.isMenu" ng-click="isShow = !isShow" ng-class="{'opened' : isShow}">
		<span class="my-dropdown__text">{{options.label | translate}}{{options.selected.label | translate}}</span>
		<span class="my-dropdown__expand" ng-class="{'icon-menu-up': isShow, 'icon-menu-down' : !isShow}"></span>
	</button>
	<button type="button" class="my-dropdown__btn" ng-show="options.isMenu" ng-click="isShow = !isShow" ng-class="{'opened' : isShow}">
		<span class="my-dropdown__text">{{options.label | translate}}</span>
		<span class="my-dropdown__expand" ng-class="{'icon-menu-up': isShow, 'icon-menu-down' : !isShow}"></span>
	</button>

	<ul class="my-dropdown__list" ng-show="isShow">
		<li ng-repeat="action in options.values">
			<div ng-if="options.isCheckbox">
				<div class="my-dropdown__list__check">
					<label class="my-dropdown__list__input-control">
						<input type="checkbox" ng-model="action.isVisible" ng-change="options.onCheck(action, $index)" id="{{action.label | translate}}">
						<span class="my-dropdown__list__input-control__span"></span>
					</label>
				</div>
				<label class="my-dropdown__list__label" for="{{action.label | translate}}">{{action.label | translate}}</label>
			</div>
			<a ng-click="select(action)" ng-if="!options.isCheckbox">{{action.label | translate}}</a>
		</li>
		<button ng-if="options.withSave" ng-click="options.onSave()" class="my-dropdown__save">{{::'save' | translate}}</button>
	</ul>
</div>
