<div class="modal" ng-if="isModal">
	<div class="fade">
	</div>
	<div class="dialog">
		<div ng-include="bodyTemplateUrl" ng-if="!bodyTemplate" onload="onInclude()">
		</div>
		<div ng-if="bodyTemplate" gr-template="bodyTemplate" gr-name="editEntityTemplate">
		</div>
		<div class="dialog-btn">
			<button class="save-btn" ng-if="enableSave" ng-click="save()">{{::'save' | translate}}</button>
			<button class="close-btn" ng-click="close()">{{::'close' | translate}}</button>
		</div>
	</div>
</div>
