<div class="modal" ng-if="isModal">
	<div class="fade">
	</div>
	<div class="dialog">
		<h1>{{::'editEntity' | translate}}</h1>
		<div ng-repeat="(key, value) in myEntity" class="dialog__entity">
			<span class="dialog__key">{{key}}</span><input class="dialog__value" ng-model="myEntity[key]" />
		</div>
		<div class="dialog-btn">
			<button class="save-btn" ng-click="save()">{{::'save' | translate}}</button>
			<button class="close-btn" ng-click="close()">{{::'close' | translate}}</button>
		</div>
	</div>
</div>
