<div class="page-CONTENT">
	<div class="page-content__header">
		<div class="page-content__options">
			<CONTENT-options-d3 options="contentOptions" filters="filters"></CONTENT-options-d3>
		</div>
		<div class="page-content__cards" cards="cardsOptions" CONTENT-options="contentOptions">
		</div>
	</div>
	<div class="page-content__body">
		<div class="page-content__list">
			<div class="core-diagram" core-diagram="{}" sankey-data="sankeyData"></div>
			<histogram histogram-data="histogramData"></histogram>
		</div>
	</div>
</div>

