<div class="page-content">
	<div class="page-content__header">
		<div class="page-content__options">
			<content-options-cards options="contentOptions" start-date="startDate" end-date="endDate"></content-options-cards>
		</div>
		<div class="page-content__actions">
			<dropdown class="page-content__actions__export" dropdown-options="exports.options"></dropdown>
		</div>
	</div>
	<div class="page-content__body">
		<div class="page-content__cards" cards="cards" start-date="startDate" end-date="endDate">
		</div>
		<div class="page-content__list">
			<custom-ui-grid grid-data="data" grid-options="gridOptions" content-options="contentOptions"></custom-ui-grid>
		</div>
	</div>
	<div class="page-content__footer">
	</div>
</div>

