<div class="page-content">
	<div class="page-content__header">
		<div class="page-content__options">
			<content-options-d3 options="contentOptions" start-date="cardsOptions.startDate" end-date="cardsOptions.endDate" date-range="cardsOptions.dateRange"></content-options-d3>
		</div>
		<div class="page-content__cards" cards="cardsOptions.cards" start-date="cardsOptions.startDate" end-date="cardsOptions.endDate" margin="cardsOptions.margin">
		</div>
	</div>
	<div class="page-content__body">

		<div class="page-content__list">
			<core-diagram></core-diagram>
			<histogram></histogram>
			<!--<custom-ui-grid grid-data="data" grid-options="uiGridOptions" content-options="contentOptions"></custom-ui-grid>-->
		</div>
	</div>
	<div class="page-content__footer">
	</div>
</div>

