<div class="page-CONTENT">
	<div class="page-content__header">
		<div class="page-content__options">
			<CONTENT-options-cards options="contentOptions"></CONTENT-options-cards>
		</div>
		<div class="page-content__actions">
			<dropdown class="page-content__actions__export" dropdown-options="exports.options"></dropdown>
		</div>
	</div>
	<div class="page-content__body">
		<div class="page-content__cards" CONTENT-options="contentOptions" cards="cardsOptions">
		</div>
		<div class="page-content__list">
			<custom-ui-grid grid-data="data" grid-options="uiGridOptions" CONTENT-options="contentOptions"></custom-ui-grid>
		</div>
	</div>
	<div class="page-content__footer">
	</div>
</div>

