<div class="cards-group" ng-style="groupStyle">
	<div class="my-card" id="{{contentOptions.debugCard.id}}" ng-if="contentOptions.enableDebugging" ng-style="contentOptions.debugCard.style">
		<div class="front">
			<div class="my-card__header">
				<span class="my-card__header__icon card-font icon-info"></span>
				<span class="my-card__header__text">{{contentOptions.debugCard.text | translate}}</span>
			</div>
			<div class="my-card__body">
				<span>{{contentOptions.debugCard.body | translate}}</span>
			</div>
		</div>
		<div class="back">
			<div class="my-card__header">
				<span class="my-card__header__icon card-font icon-circle-left"></span>
				<span class="my-card__header__text">{{contentOptions.debugCard.text | translate}}</span>
			</div>
			<div class="my-card__body">
				<div ng-if="contentOptions.debugCard.templateUrl" ng-include="contentOptions.debugCard.templateUrl">
				</div>
				<div ng-if="!contentOptions.debugCard.templateUrl" gr-template="contentOptions.debugCard.template" gr-name="debugTemplate"></div>
			</div>
		</div>
	</div>
	<div class="my-card" ng-repeat="(id, card) in cards" id="{{id}}" ng-style="card.style">
		<div class="front">
			<div class="my-card__header">
				<span class="my-card__header__icon card-font icon-info"></span>
				<span class="my-card__header__text">{{card.label | translate}}</span>
			</div>
			<div ng-if="card.counter">
				<div class="my-card__body" ng-init="card.count = card.counter.calculate(startDate, endDate) || card.count">
					<span number-format="card.count"></span>
				</div>
			</div>
		</div>
		<div class="back">
			<div class="my-card__header">
				<span class="my-card__header__icon card-font icon-circle-left"></span>
				<span class="my-card__header__text">{{card.label | translate}}</span>
			</div>
			<div class="my-card__body">
				<div class="my-card__body__graphs" graphs="card.graphs"></div>
			</div>
		</div>
	</div>
</div>