<div class="options">
	<div class="options__block">
		<div ext-checkbox-select="vm.options.checks" class="options__check"></div>
		<button class="options__refresh" ng-click="vm.options.refresh()">Refresh</button>
		<div ext-dropdown="vm.options.mores" class="options__more"></div>
		<ext-upload class="options__upload" ng-if="vm.options.withUpload" upload-callback="vm.options.upload"></ext-upload>
	</div>
	<div class="options__filter">
		<ext-search class="options__search" search-value="vm.options.searchValue" on-change="vm.searchValueChanged"></ext-search>
		<ext-split-button class="options__show" actions="vm.options.searchOptions" selected="vm.options.show" search="vm.options.searchValue"></ext-split-button>
		<div class="options__filt" ext-filter="vm.options.filterOptions" on-filtrate="vm.options.filtrate"></div>
	</div>
</div>