.chart-segment {
	float: left;
	font-size: $default-font-size - 2px;
	position: relative;
	padding-left: 40px;
	margin-top: 80px;
	margin-right: 0;

	@media only screen and (max-width: 1850px) {
		margin-top: 0;
	}

	&__panel {
		background-color: $light-blue;
		border-radius: $large-radius;
		border: $small-dark-blue-border;
		width: 400px;
		height: 60px;
		cursor: pointer;
		margin-bottom: 80px;

		&__text {
			position: relative;
			top: 10px;
			color: $ocean;
			margin: 20px;
		}
	}

	&__list {
		margin-bottom: 10px;


		&__header {
			width: 400px;
			height: 30px;
			border-radius: $medium-radius;
			font-weight: $bold;

			@include gradiend-background(bottom, $white, $grey);

			&__text {
				position: relative;
				top: 6px;
				left: 25px;
			}
		}

		&__body {
			max-height: 230px;
			overflow: auto;

			&__user {
				height: 30px;
				padding: 8px;

				&__icon {
					color: $red;
					font-weight: $bolder;
					position: relative;
					top: 1px;
					cursor: pointer;
				}

				&.odd {
					background-color: $blue-grey;
				}
			}
		}
	}
}
