.custom-card {
	text-align: center;
	font-size: $default-font-size;
	font-weight: $card-font-weight;
	cursor: pointer;
	border: $small-grey-border;
	width: $card-default-width !important;
	height: $card-default-height !important;
}
