<div class="debug">
	<div class="debug__back">
		<button class="debug__back__btn" onclick="location.href = '/'">Back</button>
	</div>
	<div class="debug__uploader">
		<upload class="debug__uploader__btn" upload-callback="vm.contentOptions.uploadCards" label="'Upload Cards'"></upload>
		<upload class="debug__uploader__btn" upload-callback="vm.contentOptions.uploadSankey" label="'Upload Sankey'"></upload>
		<upload class="debug__uploader__btn" upload-callback="vm.contentOptions.uploadHistogram" label="'Upload Histogram'"></upload>
	</div>
</div>