$small-grey-border: 1px #d9d9d9 solid;
$small-bgrey-border: 1px solid #D8D8D8;
$small-dark-blue-border: 1px solid rgb(45,104,136);
$small-black-border: 1px solid rgba(0, 0, 0, 0.1);
$small-grey-border: 1px solid #d9d9d9;
$small-blue-border: 1px solid #2ba6d5;
$small-light-blue-border: 1px #bcd9e2 solid;
$small-row-grey-border: 1px solid #e5e5e5;

$medium-blue-border: 2px solid #2ba6d5;

$large-radius: 5px 5px;
$medium-radius: 2px 2px;
$default-radius: 3px 3px;

$black-shadow: 0 6px 12px rgba(0,0,0,.175);
