<h1>{{::'history' | translate}}</h1>
<div class="message" ng-if="value.length == 0">{{::'historyEmpty' | translate}}.</div>
<div class="history__content" ng-repeat="hist in value">
	<div class="dialog__oldVal">
		{{::'oldValue' | translate}}: <div ng-repeat="(key, value) in hist.oldObj" class="dialog__entity">
	<span class="dialog__key">{{key | translate}}</span>:<span class="dialog__value">{{value | translate}}</span>
</div>
	</div>
	<div class="dialog__newVal">
		{{::'newValue' | translate}}: <div ng-repeat="(key, value) in hist.newObj" class="dialog__entity">
	<span class="dialog__key">{{key | translate}}</span>:<span class="dialog__value">{{value | translate}}</span>
</div>
	</div>
	<div class="dialog__dateChange">
		{{::'dateChange' | translate}}: <span>{{hist.dateChange | date}}</span>
	</div>
	<hr />
</div>
