.cursor-message {
	position: absolute;
	z-index: 99999;
	border: $small-bgrey-border;
	background-color: $green;
	padding: 15px;
	margin: 0;
	display: none;
	font-size: $default-font-size - 2px;
	font-family: $helvetica-family;
	line-height: 1;
	border-color: $dark-grey;
	font-weight: $bold;
}
