/*.slider {
	height: 12px;
	width: 23.4042625%;
	position: relative;
	background-color: #999999;
	margin-bottom: 10px;

	&__complete {
		height: 100%;
		width: auto;
		background-color: #00aba9;
		z-index: 1;
		transition: background .3s ease;
	}

	&__marker {
		height: 12px;
		width: 12px;
		cursor: pointer;
		position: absolute;
		top: 0;
		left: 0;
		background-color: #1d1d1d;
		z-index: 2;
	}

	a {
		color: #2086bf;
	}
}*/
