<div class="cards-group">
	<div class="my-card" id="card1">
		<div class="front">
			<div class="my-card__header">
				<span class="my-card__header__icon card-font icon-info"></span>
				<span class="my-card__header__text">Views/Impressions</span>
			</div>
			<div class="my-card__body">
				<span number-format="cards.views.count"></span>
			</div>
		</div>
		<div class="back">
			<div class="my-card__header">
				<span class="my-card__header__icon card-font icon-circle-left"></span>
				<span class="my-card__header__text">Views/Impressions</span>
			</div>
			<div class="my-card__body">
				<!--<img src="../../data/graphs.png" width="150" height="50" />-->
				<div graphs="cards.views.graphs"></div>
			</div>
		</div>
	</div>
	<div class="my-card" id="card2" style="left:300px">
		<div class="front">
			<div class="my-card__header">
				<span class="my-card__header__icon card-font icon-info"></span>
				<span class="my-card__header__text">Clicks</span>
			</div>
			<div class="my-card__body">
				<span number-format="cards.clicks.count"></span>
			</div>
		</div>
		<div class="back">
			<div class="my-card__header">
				<span class="my-card__header__icon card-font icon-circle-left"></span>
				<span class="my-card__header__text">Clicks</span>
			</div>
			<div class="my-card__body">
				<div graphs="cards.clicks.graphs"></div>
			</div>
		</div>
	</div>
	<div class="my-card" id="card3" style="left:600px">
		<div class="front">
			<div class="my-card__header">
				<span class="my-card__header__icon card-font icon-info"></span>
				<span class="my-card__header__text">Conversion</span>
			</div>
			<div class="my-card__body">
				<span number-format="cards.conversion.count"></span>
			</div>
		</div>
		<div class="back">
			<div class="my-card__header">
				<span class="my-card__header__icon card-font icon-circle-left"></span>
				<span class="my-card__header__text">Conversion</span>
			</div>
			<div class="my-card__body">
				<div graphs="cards.conversion.graphs"></div>
			</div>
		</div>
	</div>
	<div class="my-card" id="card4" style="left:900px">
		<div class="front">
			<div class="my-card__header">
				<span class="my-card__header__icon card-font icon-info"></span>
				<span class="my-card__header__text">Spend</span>
			</div>
			<div class="my-card__body">
				<span number-format="cards.spend.count"></span>
			</div>
		</div>
		<div class="back">
			<div class="my-card__header">
				<span class="my-card__header__icon card-font icon-circle-left"></span>
				<span class="my-card__header__text">Spend</span>
			</div>
			<div class="my-card__body">
				<div graphs="cards.spend.graphs"></div>
			</div>
		</div>
	</div>
</div>