<div class="checkbox-select">
	<button type="button" class="checkbox-select__btn">
		<div class="checkbox-select__check">
			<label class="checkbox-select__input-control">
				<input type="checkbox" ng-model="check" ng-change="checked(check)"/>
				<span class="checkbox-select__input-control__span"></span>
			</label>
		</div>
		<span class="checkbox-select__expand glyphicon"></span>
	</button>

	<ul class="checkbox-select__list">
		<li ng-repeat="action in options.actions" ng-click="select(action)"><a>{{action.label}}</a> </li>
	</ul>
</div>

