<div class="options">
	<checkbox-select class="options__check" actions="checks" selected="selectedOptions.check"></checkbox-select>
	<button class="options__refresh" ng-click="refresh()">Refresh</button>
	<dropdown class="options__more" dropdown-options="mores.options"></dropdown>
	<search class="options__search" search-value="selectedOptions.searchValue"></search>
	<split-button class="options__show" actions="selectedOptions.searchOptions" selected="selectedOptions.show" search="selectedOptions.searchValue"></split-button>
	<filter options="selectedOptions.filterOptions" is-filtrate="isFiltrate"></filter>
</div>
