<div class="filter-list">
	<div class="filter-list__header">
		Filter list
	</div>
	<div class="filter-list__options">
		<div class="filter-list__options__value" ng-repeat="opt in filterOptions">
			<div class="filter-list__options__value__header">
				{{opt.label}}
			</div>
			<div class="filter-list__options__value__input">
				<input type="text" ng-model="opt.filter" />
			</div>
		</div>
	</div>
	<div>
		<button class="filter-list__button" ng-click="showRecords()">Show records</button>
	</div>
</div>