<div class="page-content">
	<div class="page-content__header">
		<div class="page-content__icon">
			<!--<span class="page-content__icon__text"></span>-->
			<img />
		</div>
		<div class="page-content__name">
			{{grid.name}}
		</div>
		<div class="page-content__count">
			{{grid.count}} records
		</div>
		<div class="page-content__actions">
			<dropdown class="page-content__actions__export" dropdown-options="exports.options"></dropdown>
			<dropdown class="page-content__actions__view" dropdown-options="views.options"></dropdown>
		</div>
	</div>
	<div class="page-content__body">
		<div class="page-content__options">
			<content-options options="contentOptions"></content-options>
		</div>
		<div class="page-content__list">
			<custom-grid grid-data="data" export-to="exports.options.selected" ng-show="views.options.selected.isGrid" grid-options="gridOptions"></custom-grid>
		</div>
	</div>
	<div class="page-content__footer">
	</div>
</div>

