<div class="page-content">
	<div class="page-content__header">
		<div class="page-content__icon">
			<img />
		</div>
		<div class="page-content__name">
			{{grid.name}}
		</div>
		<div class="page-content__count">
			{{grid.count}} records
		</div>
		<div class="page-content__actions">
			<dropdown class="page-content__actions__export" actions="exports" selected="export" start-label="'Export to: '"></dropdown>
			<dropdown class="page-content__actions__view" actions="views" selected="view" start-label="'View: '"></dropdown>
		</div>
	</div>
	<div class="page-content__body">
		<div class="page-content__options">
			<content-options selected-options="selectedOptions" is-filtrate="isFiltrate" refresh="refresh"></content-options>
		</div>
		<div class="page-content__list">
			<custom-grid grid-data="data" filters="selectedOptions" export-to="export" ng-if="view.label == 'Grid'" is-filtrate="isFiltrate"></custom-grid>
		</div>
	</div>
	<div class="page-content__footer">
	</div>
</div>

