<div class="page-content">
	<div class="page-content__header">
		<div class="page-content__name">
			{{grid.name}}
		</div>
		<div class="page-content__count">
			{{grid.count}} records
		</div>
		<div class="actions-group">
			<dropdown class="actions-group__dropdown" actions="exports" selected="export"></dropdown>
			<dropdown class="actions-group__dropdown" actions="views" selected="view"></dropdown>
		</div>
	</div>
	<div class="page-content__body">
		<div class="page-content__options">
			<content-options selected-options="selectedOptions"></content-options>
		</div>
		<div class="page-content__list">
			<custom-grid grid-data="data" filters="selectedOptions" export-to="export" ng-if="view.label == 'Grid'"></custom-grid>
		</div>
	</div>
	<div class="page-content__footer">
	</div>
</div>

